$successColor : #89C259;
$darkSuccessColor :#608440;

$dangerColor : #FE3A3B;
$darkDangerColor :#a82c2c;

$warningColor : #EC8C46;
$darkSuccessColor :#608440;

$defaultColor : rgb(128, 128, 128);

@mixin styledButton($color,$hoverColor){
    background-color: $color;
    transition: all 0.7s ease;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    &:hover{
        background-color: rgba($color: $hoverColor, $alpha: 1);
    }
}

.button{
 
    color: white;
    border-radius: 10rem;
    overflow: hidden;
    background-color: black;
   
    
    

    &__image{
        margin-left: 10rem;
        height: 32rem;
    }
    &__default{
        @include styledButton($defaultColor,$darkSuccessColor);
    }

    &__success{
        @include styledButton($successColor,$darkSuccessColor);
    }

    &__danger{
        @include styledButton($dangerColor,$darkDangerColor);
    }

    &__warning{
        @include styledButton($warningColor,$darkSuccessColor);
    }

    &__fs20{
        font-size: 20rem;
    }

    &__fs24{
        font-size: 24rem;
    }
    &__fs26{
        font-size: 26rem;
    }

}

.top_right{
    position: absolute;
    top: 20rem;
    right: 20rem;
    border-radius: 10rem;
}

.txt_black{
    color: black;
}