$successColor: #89c259;
$dangerColor: #fe3a3b;
$warningColor: #ec8c46;
$defaultColor: rgb(128, 128, 128);

$bgc: #d9d9d9;
$bgcalpha: rgba(
  $color: #d9d9d9,
  $alpha: 0.6,
);

.centering_on_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__logo_login {
    height: 64rem;
    font-size: 22rem;
    margin: 26rem;
  }
}

@mixin styledContainer() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bgcalpha;
  border-radius: 12rem;
  & > p {
    font-size: 32rem;
    margin: 15rem;
    text-align: center;
  }
}

.container {
  position: relative;

  .mes {
    margin-top: 10rem;
    font-size: 20rem;
  }
  &__default {
    background-color: $bgc;
    border-radius: 12rem;
  }

  &__profile {
  }

  &__log_in {
    @include styledContainer();
    padding: 122rem 110rem 50rem;
  }

  &__log_out {
    @include styledContainer();
    padding-bottom: 46rem;
    & > img {
      height: 164rem;
      margin: 46rem 256rem 22rem;
    }

    & > h2 {
      font-weight: 600;
      font-size: 32rem;
      padding-bottom: 28rem;
    }

    & > p {
      font-size: 32rem;
      padding-bottom: 28rem;
    }
  }

  &__alightItemStart{
    & > p {
      font-size: 32rem;
      padding-bottom: 28rem;
    }
    align-items: flex-start;
  }

  &__order {
  }

  &__wrapped {
    position: absolute;
    top: 0;
    background-color: #89c259;
    border-radius: 0 0 20rem 20rem;
    font-size: 32rem;
    padding: 19rem 25rem;
  }

  &__wrapped_warning {
    position: absolute;
    top: 0;
    background-color: #faa645;
    border-radius: 0 0 20rem 20rem;
    font-size: 32rem;
    padding: 19rem 25rem;
  }

  &__button-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.custom_input {
  &__log_in {
    & > p {
      margin: 10rem 0 15rem;
      font-size: 32rem;
    }
    & > input {
      border-radius: 20rem;
      padding: 25rem 15rem;
      font-size: 28rem;
    }
  }
  input:invalid {
    box-shadow: inset 0px 0px 0px 1px red;
  }

  &__display_flex {
    display: flex;
    align-items: center;
    & > p {
      margin: 10rem 0 15rem;
      font-size: 28rem;
      padding-right: 10rem;
    }
  }

  &__sign_up {
    & > input {
      border-radius: 20rem;
      padding: 15rem 15rem;
      font-size: 24rem;
    }
  }
}

.company {
  display: flex;
  align-items: center;
  font-size: 20rem;
  height: 100%;
  & > img {
    height: 100%;
  }
}

.page {
  display: flex;
  &__content {
    width: 100%;
  }

  .my-node-enter {
    opacity: 0;
    transform: scaleY(0.01);
  }
  .my-node-enter-active {
    transition: opacity 300ms ease-out 100ms, transform 100ms ease-out 100ms;
    opacity: 1;
    transform: scaleY(1);
  }
  .my-node-exit {
    opacity: 1;
    transform: scaleY(1);
  }
  .my-node-exit-active {
    transition: opacity 300ms ease-out 100ms, transform 100ms ease-out 100ms;
    opacity: 0;
    transform: scaleY(0.01);
  }
}

.txt_danger {
  color: $dangerColor;
}

.containerPage {
  margin: 72rem 6rem;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24rem;
    & > h3 {
      font-size: 36rem;
    }
  }
}

.container_sz {
  height: 50%;
}

.filter {
  & > select {
    background-color: #ffffff;
  }

  & > input[type="submit"] {
    background-color: #d9d9d9;
    transition: 0.5s;
    &:hover {
      background-color: #9f9d9d;
    }
  }

  &__input {
    width: 70%;
    border-radius: 10rem;
    padding: 2rem 5rem;
    font-size: 20rem;
    margin-top: 10rem;
  }
}

